*{
    margin: 0;
    padding: 0;
    text-align: center;

}
h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choice:hover{
    background-color: #081b31;
    cursor: pointer;

}

img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    margin-top: 3rem;
    gap: 2rem;
}

#user-score,#comp-score{
    font-size: 4rem;

}

.msg-container{
    margin-top: 5rem;
}

#msg{ 
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;

}