/* h1{
    color: blue;
    background-color: aquamarine;
}
body{
    background-color: pink;
}
button{
    background-color: brown;
}
.box{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin: 5px;
    text-align: center;
    background-color: cadetblue;
}
#box{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    color: aliceblue;
    border: 1px solid black;} */

    /* div{
        height: 100px;
        width: 100px;
        background-color: aqua;
        border: 2px solid black;
        color: white;
    } */