@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: outfit ;
}

body{
    background: #dadada;

}
a{
    text-decoration: none;
    color: inherit;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #131921;
    padding: 10px 20px;
    color: #fff;

}

nav a:hover{
    border: 1px solid #fff;
    padding: 1px;
    cursor: pointer;
}
.nav-country{
    display: flex;
    align-items: end;
    margin-left: 15px;
    font-size: 13px;
    color: #c4c4c4;
    &:hover{
        border: 1px solid #fff;
        border-radius: 1px;
        cursor: pointer;
    }
}

.nav-country h1{
    color: #fff;
    font-size: 14px;
}
.nav-search{
    flex: 1;
    display: flex;
    align-items: center;
    background-color: #fff;
    color: gray;
    max-width: 1000px;
    border-radius: 4px;
    margin-left: 15px;
}
.nav-search-category{
display: flex;
align-items: center;
padding: 10px 20px;
gap: 5px;
background: #e5e5e5;
border-radius: 4x 0 0 4px;
cursor: pointer;
}
.nav-search-input{
    border: none;
    outline: none;
    padding-left: 20px ;
    width: 100%;
}
.nav-search-icon{
    max-width: 41px;
    padding: 8px;
    background: #ffd64f;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}
.nav-language{
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 600;
    margin-left: 15px;
    &:hover{
        border: 1px solid #fff;
        border-radius: 1px;
        cursor: pointer;
    }
}
.nav-text{
    margin-left: 15px ;
    &:hover{
        border: 1px solid #fff;
        border-radius: 1px;
        cursor: pointer;
    }
}
.nav-text p{
    font-size: 10px;
}
.nav-text h1{
    font-size: 14px;
}
.nav-cart{
    display: flex;
    align-items: center;
    margin: 0px 15px;
}
.nav-bottom{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px 20px;
    background: #232f3e;
    color: #fff;
    font-size: 15px;
    
    }

.nav-bottom div{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    &:hover{
        border: 1px solid #fff;
        border-radius: 1px;
        cursor: pointer;
    }
}

.nav-bottom h4{
    margin-left: 800px;
    &:hover{
        border: 1px solid #fff;
        border-radius: 1px;
        cursor: pointer;
    }
}

.nav-bottom p:hover{
        border: 1px solid #fff;
        border-radius: 1px;
        cursor: pointer;
    }
.header-slider ul{
display: flex;
overflow-y: hidden;
}
.header-img{
    max-width: 100%;
    mask-image: linear-gradient(to bottom,#000000 50%, transparent 100%);
}
.header-slider a{
    position: absolute;
    top: 20%;
    z-index: 1;
    padding: 5vh 1vw;
    background: #ffffff4f;
    color: #0000007b;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}
.control_next{
    right: 0;
}
 
.txt-box {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 90%;
    height: 40%;
    background:#fff ;
    margin-left: 70px;
    margin-top: -35px;
    z-index: 1;
}
.txt-box a{
    color: green;
}

.box-row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
    margin: 20px 30px;
}

.box-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px;
    background: #fff;
    max-width: 24%;
    min-width: 200px;
}

.box-col a{
    font-size: 13px;
    color: #00999999;
    font-weight: 500;
    &:hover{
        color: #c45409;
    }
}
.products-slider{
    background: #fff;
    margin: 0 30px;
    padding: 20px;
    margin-bottom: 15px;
}
.products-slider .products{
display: flex;
overflow: auto;
gap: 20px;
margin: 10px;
}
.products-slider .products img{
width: 200px;
height: 180px;
}

.products-slider .products::-webkit-scrollbar{
    display: none;
}
.products-slider-with-price{
    background: #fff;
    margin: 0 30px;
    padding: 20px;
    margin-bottom: 15px;
}

.products-slider-with-price .products{
    display: flex;
    overflow-x: auto;
    gap: 10px;
    margin-top: 10px;
}

.products-slider-with-price .products::-webkit-scrollbar{
    display: none;
}

.product-card img{
    width: 110px;
    margin: 0 50px;
}

.product-offer p{
    background: #be0b3b;
    color: #fff;
    display: inline-block;
    padding: 2px 5px;
    margin: 8px 0;
    font-size: 13px;
}

.product-offer span{
    color: #be0b3b;
    font-weight: 500;
    font-size: 12px;
}
.product-price{
    color: gray;
    font-size: 15px;
    font-weight: 400;
}

.product-card h4{
    color: #525252;
    font-size: 15px;
    font-weight: 400;
}
.rhf-frame{
    background: #fff;
    width: 100%;
    height: 165px;
    justify-content: center;
    align-items: center;
}
.rhf-container{
    padding: 15px;
    align-items: center;
    height: 126px;
}

.rhf-border{
    margin-top:15px;
    padding-top: 15px;
    height: 125.6px;
    border: 1px solid gray;
    border-radius: 2px;
}

.action p{
    padding-top: 30px;
    padding-bottom: 5px;
    margin-left: 45%;
    font-size: 12px;
    font-weight: 400;
}
.action button{
    background: #f6c501;
    border: 1px solid #f8b50c;
    border-radius: 3px;
    margin-left: 43%;
    padding: 5px;
    width: 240px;
    cursor: pointer;
    text-decoration: none;
}

.action .link{
    padding-top:5px;
    margin-left: 47%;
}

.action .link span{
    color: #009999;
}

.txt-top{
    background: #364759;
    line-height: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}
.text-row-container{
    background: #232f3f;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    height: 350px;
    border-bottom: 0.5px solid gray;
}

.text-row-container .text-row{
    margin-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.text-row-container .text-row a{
    font-size: 13px;
    margin-bottom: 10px;
    &:hover{
        text-decoration: underline;
    }
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background: #232f3f;
    padding: 20px 60px;
}